@import'./utils/variables';
@import'./base/common';
@import'./components/page-header';
@import'./components/title';
@import'./components/herro';
@import'./components/logo';
@import'./components/section';
@import'./components/employe-section';
@import'./components/partners';
@import'./components/filter';
@import'./components/portfolio';
@import'./components/footer';
@import'./components/modal-window';
@import'./utils/placeholders';
// @import'./utils/mixins';