.employe{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #F5F4FA;
}
.employees-card-content-wrapper{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    background-color:#FFFFFF;
}
.social-list{
    @extend %flex;
    gap: 10px;
}
.social-list-link{
    @extend %align;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #FFFFFF;
    transition: background-color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus{
    background-color: var(--accent-color);
}
    &:hover .social-list-icon,
    &:focus .social-list-icon{
    fill: #FFFFFF;
}
}
.social-list-icon{
    fill:#AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sub-title:not(:last-child){
    margin-bottom: 16px;
}
@media screen and (max-width:767px) {
    .employees-card:not(:last-child){
        margin-bottom: 30px;
    }
    
}
@media screen and (min-width:768px) {
    .employees {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    .employees-card {
        flex-basis: calc((100% - 30px)/2);
    }
}
@media screen and (min-width:1200px) {
    .employees {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    .employees-card {
        flex-basis: calc((100% - 90px)/4);
    }
    .employe {
        padding-top: 94px;
        padding-bottom: 94px;
          }
}