.hero .hero__button{
    color: #FFFFFF;
    background-color: var(--accent-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0.06em;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 4px;
}
.hero{
    background-color: rgba(196, 196, 196, 1);
    padding-top: 118px;
    padding-bottom: 118px;
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
    url(../images/mobile_imeges/mobile-bg@1x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    max-width: 1600px;
}
.hero__title {
    color: #FFFFFF;
    // @include font(44px, 900, 60px);
    font-size: 26px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    margin-bottom: 30px;
}
@media screen and (max-width: 767px){
.hero {
    background-image:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/mobile_imeges/mobile-bg@1x.jpg);
}
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
.hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/mobile_imeges/mobile-bg@2x.jpg);
}
}
@media screen and (min-width:768) {
.hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/tablet_images/tablet-bg@1x.jpg);
}
}

@media screen and (min-device-pixel-ratio: 2) and (min-width:768px),
screen and (min-resolution: 192dpi) and (min-width:768px),
screen and (min-resolution: 2dppx) and (min-width:768px) {
.hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/tablet_images/tablet-bg@2x.jpg);
}
}
@media screen and (min-device-pixel-ratio: 2) and (min-width:1200px),
       screen and (min-resolution: 192dpi) and (min-width:1200px),
       screen and (min-resolution: 2dppx) and (min-width:1200px) {
.hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/bg@2x.jpg);
}
}
.hidden{
    display: none;
}
.top{
    padding-top: 60px;
}

@media screen and (min-width:1200px) {
.top{
    padding-top: 94px;
    padding-bottom: 118px;
}
.hero {
    background-image: url(../images/hero/bg.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
}
.hero__title {
    font-size: 44px;
}
.hero .hero__button {
    padding-left: 32px;
    padding-right: 32px;
}
}