.page-nav__logo{
    color: var(--accent-color);
    font-family: var(--secondary-font);
    // @include font(26px, 700, 30.52px);
    font-size: 26px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em; 
}
.page-nav_logo_header{
    color: #000000;
}
.logo-footer__logo-color-footer{
    color: #FFFFFF;
}
@media screen and (min-width:1200px) {
.page-nav__logo{
    margin-right: 93px;
    }
}
@media screen and (min-width:768px) {
.page-nav__logo {
    margin-right: 88px;
    }
}
