@media screen and (max-width:767px) {
    .mobile-menu {
        position: fixed;
        width: 100%;
        height: 100%;
        max-height: 796px;
        top: 0;
        left: 0;
        background-color: white;
        box-shadow: 0 0 0 100vmax (rgba(0, 0, 0, 0.2));
        z-index: 1000;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .mobile-menu.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transition: opacity 500ms linear, visibility 500ms linear;
    }

    .mobile-menu__container {
        position: relative;
        padding-left: 25px;
        padding-top: 48px;
        padding-bottom: 58px;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .mobile-menu__close-btn {
        position: absolute;
        border: none;
        background-color: transparent;
        top: 21px;
        right: 25px;
    }

    .mobile-menu__list {
        margin-bottom: auto;
    }

    .mobile-menu__item:not(:last-child) {
        padding-bottom: 33px;
    }

    .mobile-menu__link {
        font-family: Roboto;
        font-size: 40px;
        font-weight: 500;
        line-height: 1.18;
        letter-spacing: 0.02em;
        text-align: left;
        color: var(--primary-text-color);

        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }
    .mobile-menu_link_curent{
        color: var(--accent-color);
    }

    .mobile-menu__phone {
        font-family: Roboto;
        font-size: 34px;
        font-weight: 500;
        line-height: 1.18;
        letter-spacing: 0.02em;
        text-align: left;
        color: var(--accent-color);
    }

    .mobile-menu__contacts__item:not(:last-child) {
        padding-bottom: 32px;
    }

    .mobile-menu__mail {
        font-family: Roboto;
        font-size: 24px;
        font-weight: 500;
        line-height: 1.17;
        letter-spacing: 0.02em;
        text-align: left;
        color: #757575;
    }

    .mobile-menu__social-list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 64px;
    }

    .mobile-menu__social-list__link {
        font-family: Roboto;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.22;
        letter-spacing: 0.02em;
        text-align: left;
        color: var(--accent-color);
    }

    .mobile-menu__social-list__item:not(:first-child) {
        padding-left: 10px;
        border-left: 1px solid #21212133;
    }
}