.backdrop{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms linear, visibility 250ms linear;
}
.modal{
    width: 528px;
    height: 581px;
    background-color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
}
.backdrop.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal-close-btn-icon{
    width: 11px;
    height: 11px;
}
.modal-close-button{
    width: 30px;
    height: 30px;
    background-color: #FFFFFF;
    @extend %align;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 8px;
}
.form-field{
    font-family: Roboto;
    // @include font(12px, 14.06px);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 1);
}
.modal-title{
    font-family: Roboto;
    // @include font(20px, 700, 23.44px);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 12px;
}

.form-input{
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    display: block;
    padding-left: 42px;
    transition: border-color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus{
    border-color: var(--accent-color);
    cursor: pointer;
    outline: none;
    & + .input-icon{
    fill: var(--accent-color);
    }
    }
}

.icon-place{
    position: relative;
    display: block;
    margin-bottom: 10px;
}
.input-icon{
    background-color: #FFFFFF;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    position: absolute;
    display: block;
    transition: fill, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input.name{ 
    margin-bottom: 4px;
}
.form-input.coment{
    width: 448px;
    height: 120px;
    margin-bottom: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    font-family: 'Roboto';
    font-style: normal;
    // @include font(12px, 14,06px);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    resize: none;
}
.form-label{
    color: #757575;
    font-family: Roboto;
    // @include font(12px, 14,06px);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.01em;
    margin-top: 10px;
    border: #000000;
}
.content-radio-btn{
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    // @include font();
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    &:before{
    border: 1.75px solid #212121;
    margin-top: 5px;
    border-radius: 2px;
    background-image: url("../images/border.svg");
    width: 16px;
    height: 15px;
    cursor: pointer;
    content: '';
    margin-right: 8px;
    margin-left: 12px;
    } 
    .agree:checked + &::before{
    border: none;
    background-color: var(--accent-color);
    background-image: url("../images/icon-accept.svg");
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 2px;
    }
}
.accept{
    color: var(--accent-color);
    text-decoration: underline;
}
.modal-btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 200px;
    height: 50px;
    background-color: var(--accent-color);
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
    box-shadow: 0px 4px 4px 0px #00000026;
}
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0px;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}