body{
    font-family: 'Roboto', sans-serif;
}
:root {
    --accent-color: #2196F3;
    --primary-font: 'Roboto';
    --secondary-font: 'Raleway';
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
}
